# Environment for docker-compose.yml
export ISI_BLAZEGRAPH_UID=$$UID
export ISI_BLAZEGRAPH_GID=$$GROUPS
export ISI_BLAZEGRAPH_SATELLITE_DATA_DIR=$datamart_journal
export ISI_REDIS_DATA_DIR=$redis/redis/data
export ISI_REDIS_CONF_DIR=$redis/redis/conf
export SEED_DATASET_AUGMENTATION_DIR=$augment_seed_datasets_dir
