export ISI_BLAZEGRAPH_UID=$UID
export ISI_BLAZEGRAPH_GID=$GROUPS
export ISI_BLAZEGRAPH_WIKIDATA_DATA_DIR=/data_hdd/kyao/compose_run/blazegraph
export ISI_BLAZEGRAPH_SATELLITE_DATA_DIR=/data_hdd/kyao/compose_run/satellite_blazegraph
export ISI_REDIS_DATA_DIR=/data_hdd/kyao/compose_run/redis/data
export ISI_REDIS_CONF_DIR=/data_hdd/kyao/compose_run/redis/conf
